body {
    font-family: 'calibri','trebuchet ms',serif;
    margin: 20px;
    background-color: #F1F5CE;
}

a {
    text-decoration: none;
    color: #889127;
}

a:hover {
    color: #9E68AD;
}

table {
    table-layout: fixed;
    clear: both;
    border-collapse: collapse;
    background-color: #f5f5f5;
}

table td, table th {
    vertical-align: top;
    text-align: left;
    padding:10px 15px;
    width: 200px;
    border: 1px solid #666;
}

table th.required {
    background-color: #FFFF00;
    cursor: pointer;
}

table th.recommended {
    background-color: #FFFFBA;
    cursor:pointer;
}

table th {
      cursor: pointer;
}

td p {
    margin: 0;
}

.value {
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 8px;
    background-color: #fff;
}

input[type=text] {
    width: 400px;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #666;
} 

select {
    width: 150px;
     padding: 7px;
    border-radius: 3px;
    border: 1px solid #666;
}

input[type=submit], input[type=button] {
    width: 120px;
    padding: 6px;
} 

.clearbutton {
    font-size: 30px;
    line-height: 15px;
    display: inline-block;
    width: 15px;
    margin-left: 10px;
    margin-top: 5px;
}

.formwrap, .feedwrap {
    border-radius: 3px;
    background-color: #D4DB89;
    padding: 20px;
    float: left;
    margin-bottom: 20px;
    margin-right: 20px;
}

form {
    margin-bottom: 0;
    float: left;
}

form input, form select {
    float: left;
    margin-right: 5px;
}

.inputblock {
    float: left;
    width: 100px;
}

p.byline {
    font-size: .8em;
    line-height: 1.3em;
    clear: both;
    color: #999;
}

p.byline a {
    display: inline;
    background-color: transparent;
    padding: none;
    color: #999;
    text-decoration: underline;
}

p.byline a:hover {
    color: #000;
}